# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_t_plus_LEFT

config ZMK_KEYBOARD_NAME
    default "t_plus"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_t_plus_LEFT || SHIELD_t_plus_RIGHT

config ZMK_SPLIT
    default y

endif
