# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_t_plus_LEFT
    def_bool $(shields_list_contains,t_plus_left)

config SHIELD_t_plus_RIGHT
    def_bool $(shields_list_contains,t_plus_right)
